@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar::-webkit-scrollbar {
    height: 3px;
  }

  .scrollbar::-webkit-scrollbar-track {
    /* border-radius: 10px; */
    background: none;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #d7ddde;

    /* border: 3px solid #f6f7ed; */
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }

  .crop-photo {
    clip-path: polygon(21% 0, 82% 23%, 100% 23%, 100% 100%, 0 100%, 0 23%);
  }
}

@layer components {
  .section-my {
    @apply my-20;
  }

  .hero-xl {
    @apply text-5xl font-bold text-white sm:text-6xl lg:text-7xl;
  }
  .hero-lg {
    @apply text-2xl text-white sm:text-3xl lg:text-4xl;
  }
}
